%btn {
  display: inline-block;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  color: white;
}

.btn-secondary {
  @extend %btn;
  @include set-background($secondary-color);
}
.switch {
  @extend %btn;
  font-family: $font-stack;
  font-size: large;
  @include set-background($secondary-color);
  border: none;
}
