@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

$light-color: #fff;
$dark-color: #000;
$font-stack: "Open Sans Condensed", sans-serif;
$font-stack-p: "Open Sans", sans-serif;
$primary-color: black;
$secondary-color: #f9cc20;

// set text color based on bg
@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #333;
  } @else {
    @return #fff;
  }
}

//set background color & text
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
